<style>
.bottom-details-section .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 17px 20px;
      column-gap: 20px;
}
  .bottom-details-section .same-selling-points-col .selling-points-heading-box {
    padding: 0;
    font-size: 14px;
    font-weight: 400;
        line-height: normal;
}
  .bottom-details-section {
    background: #f9f6f5;
}
  .shipping_details {
    padding: 15px;
}
  .shipping_details .row h3 {
    font-size: 16px;
    margin-bottom: 8px;
}
.shipping_details .row p {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: #000000;
    font-family: 'Rubik';
}
.shipping_details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 160rem;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    padding: 30px 5rem;
}
  .selling-points-heading-box span {
    display: block;
    line-height: 15px;
    padding-top: 8px;
}
  .shipping_details .row {
    margin-bottom: 20px;
}
</style>
<div class="shipping_details">
<div class="row">
  <h3>Shipping and Delivery</h3>
  <p>Shipping information: we process orders
within 1-2 business days from our warehouse.
Delivery information: estimated delivery time
varies based on the shipping area</p>
</div>
  <div class="row">
  <h3>Returns and Refund</h3>
  <p>Shipping information: we process orders
within 1-2 business days from our warehouse.
Delivery information: estimated delivery time
varies based on the shipping area</p>
</div>
</div>
<div class="bottom-details-section">
  <div class="container">
    <div class="row">
        <div class="same-selling-points-col">
            <div class="selling-points-image-box">
                <img src="https://cdn.shopify.com/s/files/1/0738/5900/6705/files/Multiple_Layers_2.png?v=1744883559">
            </div>
            <div class="selling-points-heading-box">
                <span>Free Shipping</span>
            </div>
        </div>
        <div class="same-selling-points-col">
            <div class="selling-points-image-box">
                <img src="https://cdn.shopify.com/s/files/1/0738/5900/6705/files/Multiple_Layers_3.png?v=1744883559">
            </div>
            <div class="selling-points-heading-box">
                <span>Easy Returns</span>
            </div>
        </div>
        <div class="same-selling-points-col">
            <div class="selling-points-image-box">
                <img src="https://cdn.shopify.com/s/files/1/0738/5900/6705/files/Multiple_Layers_2_1.png?v=1744883559">
            </div>
            <div class="selling-points-heading-box">
                <span>Safe Purchase</span>
            </div>
        </div>
    </div>
</div>
</div>
{% schema %}
  {
    "name": "PDP Bottom Details",
    "settings": [],
    "presets": [
      {
            "name": "PDP Bottom Details",
      }
    ]
  }
{% endschema %}