 <div class="included-benefits-sec">
        <div class="container">
            <div class="inner-benifits-txt">
                <p>Discover a new level of gaming with SOOLRA,
                    featuring an attachable controller and a
                    dynamic app for an unparalleled gaming
                    experience.</p>
            </div>
            <div class="key-features-col">
                <ul>
                    <li>
                        <div class="key-features-img-box">
                            <img
                                src="https://cdn.shopify.com/s/files/1/0738/5900/6705/files/Group_1301.png?v=1744744720">
                        </div>
                        <div class="key-features-txt-box">
                            <span>High quality matte silicone protective case</span>
                        </div>
                    </li>
                    <li>
                        <div class="key-features-img-box">
                            <img
                                src="https://cdn.shopify.com/s/files/1/0738/5900/6705/files/Group_1100.png?v=1744744720">
                        </div>
                        <div class="key-features-txt-box">
                            <span>Easily flipping cover</span>
                        </div>
                    </li>
                    <li>
                        <div class="key-features-img-box">
                            <img
                                src="https://cdn.shopify.com/s/files/1/0738/5900/6705/files/Group_1069.png?v=1744744720">
                        </div>
                        <div class="key-features-txt-box">
                            <span>A type-C cable included for easy and fast
                                charging</span>
                        </div>
                    </li>
                    <li>
                        <div class="key-features-img-box">
                            <img
                                src="https://cdn.shopify.com/s/files/1/0738/5900/6705/files/Icon_awesome-apple.png?v=1744744719">
                        </div>
                        <div class="key-features-txt-box">
                            <span>Compatible for iPhones 13 - 15 including pro</span>
                        </div>
                    </li>
                    <li>
                        <div class="key-features-img-box">
                            <img
                                src="https://cdn.shopify.com/s/files/1/0738/5900/6705/files/Group_1303.png?v=1744744720">
                        </div>
                        <div class="key-features-txt-box">
                            <span>Paired with a designated app with over 10,000
                                games</span>
                        </div>
                    </li>
                    <li>
                        <div class="key-features-img-box">
                            <img
                                src="https://cdn.shopify.com/s/files/1/0738/5900/6705/files/Icon_feather-bluetooth.png?v=1744744719">
                        </div>
                        <div class="key-features-txt-box">
                            <span>Connect by directly linking your iPhone via
                                Bluetooth.</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>




{% schema %}
  {
    "name": "PDP Included Section",
    "settings": [],
    "presets": [
      {
        "name": "PDP Included Section"
      }
    ]
  }
{% endschema %}