    <div class="order-today-sec">
        <div class="container">
            <div class="row">
                <div class="order-truck-image-box">
                    <img
                        src="https://cdn.shopify.com/s/files/1/0738/5900/6705/files/Icon_awesome-truck_22785a66-6f55-4227-8069-8180a25fdd07.png?v=1744745566   ">
                </div>
                <div class="order-txt-box">
                    <p>Order Today And Get It<span>By Sunday, 25 Apr</span></p>
                </div>
            </div>
        </div>
    </div>




{% schema %}
  {
    "name": "PDP Order Section",
    "settings": [],
    "presets": [
      {
        "name": "PDP Order Section"
      }
    ]
  }
{% endschema %}