<div class="solaar-emulator-mobile-sec">
        <div class="container">
            <div class="inner-emulator-col">
                <div class="inner-emulator-image-box">
                    <img src="https://cdn.shopify.com/s/files/1/0738/5900/6705/files/Mask_Group_264.png?v=1744745851">
                </div>
                <div class="main-emulator-txt-col">
                    <div class="emulator-txt">
                        <h4>SOOLRA App Emulator</h4>
                        <p>The Soolra app is an advanced emulator
                            for retro games. Unlock the potential of
                            your iPhone, turning it into a formidable
                            portable gaming device. The app offers
                            sophisticated emulation technology
                            capable of simulating a wide range of
                            classic gaming consoles, from 8-bit
                            systems to more advanced platforms.</p>
                    </div>
                    <div class="apple-btn">
                        <a href="https://apps.apple.com/us/app/soolra/id6692627944" class="app-emulator-btn">
                            <span class="apple-icon"><i class="fa-brands fa-apple"></i></span>
                            <div class="btn-text">
                                <small>Download on the</small>
                                <strong>App Store</strong>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>




{% schema %}
  {
    "name": "Emulator Section",
    "settings": [],
    "presets": [
      {
        "name": "Emulator Section"
      }
    ]
  }
{% endschema %}