    <div class="pure-fun-sec">
        <div class="pure-fun-imag-box">
            <img src="https://cdn.shopify.com/s/files/1/0738/5900/6705/files/Image_295_enhanced_2x_e22f08d1-e6c0-4e69-9d57-0f8ed540b987.png?v=1744919694">
        </div>
    </div>


{% schema %}
  {
    "name": "PDP Fun Section",
    "settings": [],
    "presets": [
      {
        "name": "PDP Fun Section"
      }
    ]
  }
{% endschema %}